<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
     <main class="container">
       <h1>Are you sure you want to delete song?</h1>
       <form action="/songs/<%= song.id %>/<%= song.originalname %>/destroy" style="display:initial" method="post">
         <button type="submit" class="btn btn-danger">Delete</button>
       </form>
        <a href="/songs" class="btn btn-primary">Cancel</a>
    </main>
     <% include ../static/partials/baseScripts.ejs %>
   </body>
</html>
