<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
     <% include ../static/partials/navbar.ejs %>
     <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1>Account Downgraded</h1>
      <p>You've successfully downgraded your account, and you are now a standard user!</p>
    </main>
     <% include ../static/partials/baseScripts.ejs %>
   </body>
</html>
